<!-- Template for presenting list of profiles to user to choose the new -->
<!-- current profilfe.                                                  -->
{% extends "layout.html" %}

{% block title %}
Alt/Az Setting Circles Driver Setup
{% endblock %}

{% block content %}
    <h1>Alt/Az Setting Circles Driver Setup</h1>
    <h2>Change Profile</h2>

    {% if profile_list|length < 1 %}
      There are no defined profiles.  Return to the previous page and
      create a new profile.
    {% else %}
        <p>Select the new profile from the options below:</p>

        <form action="setup" method="POST">
            <input type="hidden" name="form_id" value="selected_profile_form">
            <table>
            {% for p in profile_list %}
              {% if p == current_profile %}
                {% set checked='checked' %}
              {% else %}
                {% set checked='' %}
              {% endif %}
               <tr>
                 <td>
                   <input type="radio" id="{{p}}" name="profile_choice" value="{{p}}" {{checked}}>
                 </td>
                 <td>
                   <label for="{{p}}">{{p}}</label>
                 </td>
               </tr>
            {% endfor %}
            </table>
            <input type="submit" value="Change Profile">
        </form>
    {% endif %}
{% endblock %}
