<!-- Template for global setup page -->
{% extends "layout.html" %}

{% block title %}
Alt/Az Setting Circles Alpaca Server Information
{% endblock %}

{% block content %}
    <h1>Alt/Az Setting Circles Alpaca Server Information</h1>
        <h2>Server Info</h2>
        <table>
          <tr><td>Alpaca Server Address</td><td>{{server_ip}}</td></tr>
          <tr><td>Alpaca Server Port</td><td>{{server_port}}</td></tr>
        </table>
        <h2>Driver Info</h2>
        <table>
          <tr><td>Driver Name</td><td>{{driver.name}}</td></tr>
          <tr><td>Driver Info</td><td>{{driver.driverinfo}}</td></tr>
          <tr><td>Driver Description</td><td>{{driver.description}}</td></tr>
          <tr><td>Driver Version</td><td>{{driver.driver_version}}</td></tr>
        </table>
        <br>
        Device specific setup is available under "Driver Setup" in the
        navigation bar at the top of the page.
{% endblock %}
