{% extends "layout.html" %}

{% block title %}
Alt/Az Setting Circles Driver Encoders Monitor
{% endblock %}

{% block content %}
    <h1>Alt/Az Setting Circles Driver Monitor Encoders</h1>

    <p>
    <b>NOTE:</b> DSC must be connected to read counts and
    driver must be sync'd with a star for ALT/AZ and RA/DEC
    values to be reported.
    <p>
    <b>NOTE:</b> The encoder values are not updated in real time - please
    reload this page to update the current values.
    <p>
    <br>
    <table id="ResultsTable">
        <tr>
            <td>Connected:</td>
            <td id="Connected">{{ driver.connected }}</td>
        </tr>
        {% if driver.connected %}
            <tr>
                <td>Encoder ALT/AZ Resolution: </td>
                <td id="ALTAZ_Counts">{{ driver.encoders.get_encoder_resolution() }}</td>
            </tr>
            <tr>
                <td>Encoder ALT/AZ Counts: </td>
                <td id="ALTAZ_Counts">{{ driver.encoders.get_encoder_position() }}</td>
            </tr>
            <tr>
                <td>DSC ALT/AZ: </td>
                <td id="ALTAZ_Degrees">{{ driver.get_current_altaz() }}</td>
            </tr>
            <tr>
                <td>DSC RA/DEC: </td>
                {% set radec = driver.get_current_radec() %}
                {% if radec is not none %}
                <td id="RADEC_Degrees">({{ radec.ra.deg }}, {{ radec.dec.deg }})</td>
                {% else %}
                <td id="RADEC_Degrees">None</td>
                {% endif %}
            </tr>
    </table>

        <form action="/setup/v1/telescope/0/setup" method="POST">
          <input type="hidden" name="form_id" value="disconnect_driver_form">
          <input type="submit" value="Disconnect">
        </form>

        {% else %}
            </table>
            <p>Encoders not available. Please configure and connect to encoders.

            <form action="/setup/v1/telescope/0/setup" method="POST">
              <input type="hidden" name="form_id" value="connect_driver_form">
              <input type="submit" value="Connect">
            </form>


        {% endif %}
{% endblock %}
