<html>
<head>
{% block header %}
    <title>Alt/Az Setting Circles Alpaca Server Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
</head>
<body>
{% block content %}
    <h1>{% block title %} Alt/Az Setting Circles Alpaca Server Information{% endblock %}</h1>
        <h2>Server Info</h2>
        <table>
          <tr><td>Alpaca Server Address</td><td>{{server.host}}</td></tr>
          <tr><td>Alpaca Server Port</td><td>{{server.port}}</td></tr>
        </table>
        <h2>Driver Info</h2>
        <table>
          <tr><td>Driver Name</td><td>{{device.name}}</td></tr>
          <tr><td>Driver Info</td><td>{{device.driverinfo}}</td></tr>
          <tr><td>Driver Description</td><td>{{device.description}}</td></tr>
          <tr><td>Driver Version</td><td>{{device.driver_version}}</td></tr>
        </table>
        <br>
        Device specific setup is available <a href=setup/v1/telescope/0/setup>here</a>.
{% endblock %}
</body>
</html>
