{% block header %}
        <title>Alt/Az Setting Circles Alpaca Server Information</title>
    <h1>{% block title %} Alt/Az Setting Circles Alpaca Server Information{% endblock %}</h1>
    <style>
      td {
        padding:0 15px;
      }

      body {
        background-color: #c0c0ca;
        color: #000000;
      }
      .hilight {
        display: inline-block;
        padding: 2px;
        background-color: #b0b0c0;
      }
      table {
        background-color: #d0d0c0;
      }

      /* other style stuff not involving colors */
      * {
          font-family: Arial;
          /*font-size: 97%;*/
          /*font-size: 14px;*/
        }
    </style>
{% endblock %}

{% block content %}
      <body>
        <h2>Server Info</h2>
        <table>
          <tr><td>Alpaca Server Address</td><td>{{server.host}}</td></tr>
          <tr><td>Alpaca Server Port</td><td>{{server.port}}</td></tr>
        </table>
        <h2>Driver Info</h2>
        <table>
          <tr><td>Driver Name</td><td>{{device.name}}</td></tr>
          <tr><td>Driver Info</td><td>{{device.driverinfo}}</td></tr>
          <tr><td>Driver Description</td><td>{{device.description}}</td></tr>
          <tr><td>Driver Version</td><td>{{device.driver_version}}</td></tr>
        </table>
        <br>
        Device specific setup is available <a href=setup/v1/telescope/0/setup>here</a>.
      </body>
{% endblock %}

